.badge {
  background: #fe0909;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 0 6px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 10px;
  transform: translateY(-50%) translateX(100%);
  &.dot{
    width: 12px;
    height: 12px;
    line-height: 12px;
    font-size: 0;
    overflow: hidden;
    border-radius: 100%;
  }
}
