$waitColor: #9b9b9b;
$processColor: #ff901c;
$finishColor: #ff901c;

.xk-steps {
    text-align: center;
    .xk-step {
        display: inline-block;
        margin-right: 20px;
        &:last-child{
            .xk-step-tail{
                display: none;
            }
        }
        > div {
            display: inline-block;
            line-height: 20px;
        }
        &-head {
            margin-right: 20px;
            width: 20px;
            height: 20px;
            font-size: 18px;
            border: 1px solid $waitColor;
            border-radius: 50%;
            color: $waitColor;
            line-height: 18px;
            &.noBorder{
                border: none;
                position: relative;
                top: 4px;
            }
        }
        &-label {
            margin-right: 20px;
            font-size: 18px;
        }
        &-tail{
            font-size: 12px;
            position: relative;
            top: -2px;
        }
    }
    .xk-finish {
        .xk-step-head{
            border-color: $finishColor;
            color: #fff;
            background: $finishColor;
        }
        .xk-step-label {
            color: $finishColor;
        }
        .xk-step-tail {
            color: $finishColor;
        }
    }
    .xk-process {
        .xk-step-head{
            border-color: $finishColor;
            color: $finishColor;
        }
        .xk-step-label {
            color: $finishColor;
        }
        .xk-step-tail {
            color: $waitColor;
        }
    }
    .xk-wait {
        .xk-step-head{
            border-color: $waitColor;
            color: $waitColor;
        }
        .xk-step-label {
            color: $waitColor;
        }
        .xk-step-tail {
            color: $waitColor;
        }
    }
}
